* { 
    box-sizing: border-box; margin: 0%; 
    padding: 0%;
    border:0%;
}

html {
    background: #E5E5E5;
}

body {
    position: relative; 
    width: 1024px; height: 1400px;
    background: white;
}

.black {
    height: 20px;
    background-color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    color: #F3F3F3;
}

.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 90px;
    padding-right: 40px;
}


.orange {
    background:#F0A83E;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.header2{
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;

}

#H-menu {
    display: none;
}



.eater {
    height: 409px;
    background-image: url('../img/bowl-and-pet-daities-on-green-background\ 1.png');

}

#plesure {
    background: white;
    padding: 10px;
    font-weight: normal;
    border-radius: 5px;
}

#pleasure2 {
    display: none;
}

.brown-f #pleasure2 {
    display: none;
}

#discount {
    font-weight: normal;
}

.button1 {
    width: 141px;
    height: 49px;
    font-size: 16px;
    border-radius: 5px;
    border-color:#F0A83E;
}

main {
    height: 800px;
}

.grey-f {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #666666;
}

.products {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding-right:85px;
    padding-left:85px;
}

.grey-bg {
    width:  265px;
    background: #FBFAF6;
}

.brown-f {
    font-family: 'Roboto';
    font-style: normal;
    font-weight:bold;
}

.center {
    text-align: center;
}

.go-right {
    position: absolute;
    right: 20px;
    top: 217px;
}

.go-down {
    position: relative;
    top:3px;
}


.data-c {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.white {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.brown-bg {
    display: flex;
    height: 284px;
    background: #3C2313;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
}


.tab {
    padding-left: 20px;
}

.orange-font {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #F0A83E;
}

.form1 {
  
    margin-top: 40px;

}

.small-f{
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
}


@media (max-width: 520px) {

   .header1 {
        display: none;
    }

    #H-menu {
        display: block;
    }
    

    body {
        position: relative; 
        width:100vw;
        height: 2500px;
        background: white;
    }
    main {
        height: 1800px;
    }
    
    nav {
        display: none;
    }

    #plesure {
        display: none;
    }

    #pleasure2 {
        position:absolute;
        display: block;
        background: white;
        font-weight: normal;
        /* text-align: center; */
        padding: 10px 22px 10px 22px;
        border-radius: 5px;
        max-width: 450px;
        margin-left: 6rem;
        margin-top:116px;
        font-size: 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    .grey-bg {
        margin-bottom: 30px;
    }
    .products {
        margin-top: -5%;
        flex-direction: column;
        justify-content: space-between;
    }

    .brown-bg {
        flex-direction: column;
        justify-content: center;
        height: 320px;
    }

    #logof {
        order:1;
        margin-top:15px;
    }
    #contacts {
        order:2;
    }

    .suscribe {
        margin-left: 3px;
        position: relative;
        right: 40px;

    }

    #novedades {
        font-size: 1rem;
        width: 100%;
    }
}

@media (max-width:360px) {
   
    #novedades {
        font-size:12px;
        width: 100%;
    }
}