
@import "_variables.scss";
@import "_mixins.scss";



* { 
   @extend %reset-setting;
}

html {
    @extend %default-html;
}

body {
    position: relative; 
    width: 1024px; height: 1600px;
    background: white;
}

.black {
  @extend %black;
}

.header1 {
    @extend %header-primary;
}


.orange {
    background: $primary-orange;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.header2{
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;

}

#H-menu {
    display: none;
}



.eater {
    height: 409px;
    background-image: url('../img/bowl-and-pet-daities-on-green-background\ 1.png');

}

#plesure {
    background: white;
    padding: 10px;
    font-weight: normal;
    border-radius: 5px;
}

#pleasure2 {
    display: none;
}

.brown-f #pleasure2 {
    display: none;
}

#discount {
    font-weight: normal;
}

.button1 {
    width: 141px;
    height: 49px;
    font-size: 16px;
    border-radius: 5px;
    border-color:$primary-orange;
}

main {
    height: 1050px;
}

.grey-f {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #666666;
}

.products {
   @extend %product-cards;
}

.grey-bg {
    width:  265px;
    background: #FBFAF6;
}

.brown-f {
    @extend %brown-footer;
}

.center {
    text-align: center;
}

.go-right {
    position: absolute;
    right: 20px;
    top: 217px;
}

.go-down {
    position: relative;
    top:3px;
}


.data-c {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.white {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

#name_i, #email_i, #tel_i {
   @include form1();
}


#submit_b, #reset_b {

    @include btn-style1(); 
   
}

#submit_b {
    background: $primary-orange;
    margin-left: 0.2rem;
}

#reset_b {
    background: #8A8787;
    margin-right: 0.2rem;
}

.brown-bg {
    display: flex;
    height: 284px;
    background: $bg-brown;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
}


.tab {
    padding-left: 20px;
}

.orange-font {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: $primary-orange;
}



#email_2 {
    font-family: 'Roboto';
    color:gray;
    font-weight: bolder;
    font-size: 70%;
    border-radius: 14px;
    padding: 0.9rem;
    width:18rem;
    margin: 0.3rem;
    border:0;
}

#suscribe_b {
    @include subscribe-btn(white);
}

.small-f{
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
}


@media (max-width: 520px) {

   .header1 {
        display: none;
    }

    #H-menu {
        display: block;
    }
    

    body {
        position: relative; 
        width:100vw;
        height: 2500px;
        background: white;
    }
    main {
        height: 1800px;
    }
    
    nav {
        display: none;
    }

    #plesure {
        display: none;
    }

    #pleasure2 {
        position:absolute;
        display: block;
        background: white;
        font-weight: normal;
        /* text-align: center; */
        padding: 10px 22px 10px 22px;
        border-radius: 5px;
        max-width: 450px;
        margin-left: 2rem;
        margin-top:130px;
        font-size: 1.4rem;
    }

    #discount {
        font-size: 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    .grey-bg {
        margin-bottom: 30px;
    }
    .products {
        margin-top: -5%;
        flex-direction: column;
        justify-content: space-between;
    }

    .brown-f {
        margin-top: 0;
        font-size: 1.5rem;
    }
    .form1 {
        margin-top: -10%;
        
    }
    .brown-bg {
        flex-direction: column;
        justify-content: center;
        height: 320px;
    }

    
    #submit_b, #reset_b {
        padding: 0.7rem;
        color: #FFFFFF;
        font-family: 'Roboto';
        margin-top: 2rem;
        width: 10rem;
        border-radius: 15px;
        border:0;
    
    }

    #logof {
        order:1;
        margin-top:15px;
    }
    #contacts {
        order:2;
    }

    #footer1 {
        padding-top: 0.5rem;
        display: flex;
        flex-direction: column;
        height: 100px;
        justify-content: space-evenly;
    }

    .form2 {
        display: flex;
        justify-content: space-around;
        
    }

    #email_2 {
        margin: 0;
        border:0;
    }


    #suscribe_b {
        padding-left: 0.65rem;
        padding-right: 0.65rem;
    }

    .suscribe {
        margin-left: 10px;
        position: relative;
        right: 30px;

    }

    #novedades {
        font-size: 1rem;
        width: 100%;
    }


   #email_2 {
    font-family: 'Roboto';
    color: black;
    font-weight: bolder;
    font-size: 70%;
    border-radius: 14px;
    padding: 0.9rem;
    width:12rem;
    border:0;
    margin-right: 0.3rem;
   }
}

@media (max-width:360px) {
   
    #footer1 {
        padding-top: 0.5rem;
        display: flex;
        flex-direction: column;
        height: 100px;
    }
    #novedades {
        font-size: 0.8rem;
        width: 100%;
    }
}