* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/table-cloth-texture1280x1280.jpg');

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h1 {
    color:goldenrod;
    padding: 1rem;
    font-weight: bolder;
}

p {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}



#message-p {
    font-style: italic;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    width: 8rem;
    padding-block: 1rem;
    color: white;
    background: rgb(160, 12, 12);
    border-radius: 5px;
    margin-bottom: 1rem;
}

button:hover {
    background: goldenrod;
}

button:active {
    background: gray;   
}


.card img{
    display: none;
    height: 250px;
    width: auto;
}